<router-outlet></router-outlet>

<!-- <app-nav></app-nav>
<app-slider></app-slider>
<app-card></app-card>
<app-card></app-card>
<app-card></app-card>
<app-contactus></app-contactus>
<app-footer></app-footer> -->

<!-- <h3>data binding</h3>
<h4>Interpoltion (one way binding) </h4> -->
<!-- {{title}} -->
<!-- {{name}}  {{lname}}<br>
{{5+3}} -->
<!-- {{ getFullName() }}
<p class= "{{myClass}}">hello</p>
<p style.color ="{{c}}">hello blue</p>
{{z}}

<h4>property binding</h4>
<p [class]="myClass">hello</p>

<button [disabled]="isClosed">btn</button>

<p [innerHtml]="z"></p>
 -->
<!-- [attr.colspan] -->
<!-- <h4>event binding</h4>
{{data}}

<button (click)="chngMe()">show</button>

<div>
    <button (click)="increment()">+</button>
    {{i}}
    <button (click)="decrement()">-</button>
    
</div> -->

<!-- <input (input)="handelInput($event)">
{{val}}


<input #in (keyup.shift.enter)="h2(in)">
{{val2}}

<input (input)="v=$any($event.target).value">
{{v}} -->

<!-- {{myData}}
<input [(ngModel)]="myData"> -->

<app-card></app-card>


